body {
  margin: 0px;
  top: 0px;
  font-family: "Open Sans", sans-serif;
  background-color: #2f2f41;
  min-height: 100vh;
}

.page {
  width: 1010px;
  margin: 0 auto;
  padding-top: 380px;  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 0px;
  padding-right: 10px;
  font-size: 14px;

}

ul, li {
  display: flex;
  gap: 50px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}  

ul, li, a {
   opacity: 0.5;
}

ul, li, a:hover {
  font-weight: bold;
  opacity: 1;
}

ul, h1 {
  font-family: "Mulish", sans-serif;
}

main {
  width: 1090px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

section, p {
  font-size: 14px;
  line-height: 28px;
  color: #dad7e2;
  margin: 10px 20px;
  gap: 20px;
  padding-bottom: 40px 20px opx;
 
}

h1 {
  font-size: 30px;
  line-height: 40px;
  color: #FFFFFF;
  font-weight: normal;
  width: 460px;
}

span {
  color: #00BFA6;
  font-weight: bold;
}

footer {
  font-size: 14px;
  color: #dad7e2;
  line-height: 28px;
  text-align: left;
  padding-top: 40px;
 
}

footer a {
  font-weight: bold;
}

.line {
  width: 568px;
  height: 0px;
  margin: 0 left 8px;
  border: 1px solid #00BFA6;
}

#padlok {
 left: 30px;
 margin: 20px;
 position: static;
}
